[build]
  command = "npm run build"
  publish = "dist"

[dev]
  framework = "#custom"
  command = "npx vite"
  autoLaunch = false # automatically open the browser
  port = 8000 # port you should go to while developing
  targetPort = 3000 # port where the frontend is running

[functions]
  directory = "src/functions"
  node_bundler = "esbuild"

[[headers]]
  for = "/*"
  [headers.values]
    X-Content-Type-Options = "nosniff"
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
    Content-Security-Policy = "default-src 'self'; connect-src 'self' ws: https://secure.meetupstatic.com https://cloudflare-ipfs.com; img-src 'self' data: https:; script-src 'self' 'unsafe-eval' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; worker-src 'self'"
    Expect-CT = "enforce, max-age=3600"
    Referrer-Policy = "no-referrer-when-downgrade"
    Permissions-Policy = "geolocation=(), camera=(), microphone=(), payment=(), usb=()"
